<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aau.corp.android.app.iitdcomplaints">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />
    //adding internet permission to application
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        /////////////////////////////
        // Login Screen Activity //
        /////////////////////////////
        <activity
            android:name=".LoginScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        // Splash Screen Activity //
        /////////////////////////////
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        /////////////////////////////
        // Home Screen Activity //
        /////////////////////////////
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.android.app.HomeScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        // Profile Screen Activity //
        /////////////////////////////
        <activity
            android:name=".ProfileScreen"
            android:label="Profile"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.ProfileScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Personal Complaints Screen Activity //
        /////////////////////////////
        <activity
            android:name=".PersonalComplaints"
            android:label="@string/title_activity_personal_complaints"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.PersonalComplaints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Hostel Complaints Screen Activity //
        /////////////////////////////
        <activity
            android:name=".HostelComplaints"
            android:label="Hostel Complaints"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.HostelComplaints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Institute Complaints Screen Activity //
        /////////////////////////////
        <activity
            android:name=".InstituteComplaints"
            android:label="Institute Complaints"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.InstituteComplaints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Personal Complaints Launch Screen Activity //
        /////////////////////////////
        <activity
            android:name=".LaunchPersonalComplaint"
            android:label="Launch Personal Complaint"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.LaunchPersonalComplaints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Hostel Complaints Launch Screen Activity //
        /////////////////////////////
        <activity
            android:name=".LaunchHostelComplaint"
            android:label="Launch Hostel Complaints"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.LaunchHostelComplaints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        /////////////////////////////
        //Institute Complaints Launch Screen Activity //
        /////////////////////////////
        <activity
            android:name=".LaunchInstituteComplaint"
            android:label="Launch Institute Complaint"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="aau.corp.app.LaunchInstituteComplaint" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ParticularPersonalComplaint" />
        <activity android:name=".ParticularHostelComplaint" />
        <activity android:name=".ParticularInstituteComplaint" />
        <activity android:name=".Worker_complaints"></activity>
    </application>

</manifest>
